## ========= ##
###--- AMITY---###
## ========= ##

## Visual Studio Files ##
**/.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache

## IDEs ##
.vscode/
.idea/

## Bin and Obj Folders##
**/bin/
**/obj/

## Build Results ##
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
publish/

## NuGet ##
*.nupkg
packages/

## Environment ##
.env
.env.local
*.env

## Logs ##
*.log
*.tmp
*.temp

## MAUI / Android ##
local.properties
*.keystore
*.jks
google-services.json
**/platforms/android/.gradle/
**/platforms/android/build/

## Databases ##
*.db
*.sqlite
*.sqlite3

## OS Junk FIles##
.DS_Store
Thumbs.db

## Mac / iOS ##
*.app
*.ipa
*.dSYM

## Windows Packaging Signing Keys##
*_TemporaryKey.pfx
AppPackages/
BundleArtifacts/

## Amity-Specific ##
**/wwwroot/uploads/          # Ignore all test images uploaded during development
appsettings.Production.json  # Ignore production config (currently none exists anyway, but still)